{% extends 'base.html' %}
{% block logo %}
<i class="bi bi-disc fs-1  text-primary"></i>
{% endblock %}
{% block form %}
    <div class="container mt-3 ">
        <form action="{% url 'auth:login' %}" method="POST">
            {% csrf_token %}
            <div class="row justify-content-center">
                
                <div class="col-12 col-md-4 " >
                    {% if signin.non_field_errors %}
                    {% for error in signin.non_field_errors %}
                        <div class="alert alert-danger alert-sm">{{error }}</div>
                    {% endfor%}
                    {% endif %}  
                </div>
                <div class="w-100"></div>
                <div class="col-12 col-md-4 ">
                    <h4>Sign In</h4>
                </div>
                <div class="w-100"></div>
                <div class="col-12 col-md-4">
                    <label class="form-label" for="{{signin.username.id_for_label}}">{{signin.username.label}}</label>
                    {{signin.username}}
                </div>
                <div class="w-100"></div>
                <div class="col-12 col-md-4">

                    <label class="form-label" for="{{signin.password.id_for_label}}">{{signin.password.label}}</label>
                    {{signin.password}}
                </div>
                <div class="w-100"></div>
                <div class="col-12 col-md-4 ">
                    <button type="submit" class="btn btn-primary w-100 mt-2">Sign In</button>
                </div>
                <div class="w-100"></div>
                <div class="col-12 col-md-4 pt-2">
                    <a href="" class="text-decoration-none">Forget Password?</a>
                    <div class="w-100"></div>
                    <hr>
                    <a href="{% url 'auth:signup' %}" class="btn btn-success w-100">Create New Account</a>
                </div>
            </div>

        </form>
    </div>
{% endblock %}