{% extends 'base.html' %}
{% block title %}Dasboard{% endblock%}
{% load active_link_tags %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'auth:home' %}"><i class="bi bi-disc  fs-3 text-primary"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'auth:home' %}" id="link1"><i class="bi bi-house" ></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'show:allitems' 'originals' %}" id="link2"><i class="bi bi-star"></i> Originals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'show:allitems' 'tv' %}" id="link3"><i class="bi bi-display"></i> Tv shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'show:allitems' 'movies' %}" id="link4"><i class="bi bi-collection"></i> Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-search" id="link5"></i> Search</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Catagories
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Catagories</a></li>
              <li><hr class="dropdown-divider"></li>
              {% for catagory in catagories %}
              <li><a class="dropdown-item" href="{{catagory.get_absolute_url}}">{{catagory}}</a></li>
              {% endfor %}
              <li><hr class="dropdown-divider"></li>
          </ul>
          </li>
        </ul>
        <div class="w-auto">
          {% if request.user.is_authenticated %}
            <div class="btn-group  dropdown ">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  {{request.user.first_name}} {{request.user.last_name}}
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#"><i class="bi bi-file-earmark-person"></i> Account</a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Settings</a></li>
                    <li><a class="dropdown-item" href="{% url 'show:history' %}"><i class="bi bi-archive"></i> Histrory</a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-heart"></i> Wishlist</a></li>
                    {% if perms.shows.can_add_show%}
                    <li><a class="dropdown-item" href="#"><i class="bi bi-plus"></i> Add show</a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-play"></i> Shows</a></li>
                    {% endif %}
                    <li><hr class="dropdown-divider"></li>
                    <a class="btn btn-danger btn-sm mx-4 " href><i class="bi bi-arrow-return-right"></i> Sign Out</a>
                  </ul>
          {% else %}
                  <a href="{% url 'auth:login' %}" class="btn btn-link text-decoration-none btn-sm">Sign In</a>
                  <a href="{% url 'auth:signup' %}" class="btn btn-sm btn-success">Sign Up</a>
          {% endif %}
              </div>
        </div>
      </div>
    </div>
    {% if 'originals' in request.path %}
    <script>
      var doc = document.getElementById('link2');
      doc.classList.add('active')
    </script>
    {% elif 'tv' in request.path %}
    <script>
      var doc = document.getElementById('link3');
      doc.classList.add('active')
    </script>
    {% elif 'movies' in request.path %}
    <script>
      var doc = document.getElementById('link4');
      doc.classList.add('active')
    </script>
    {% elif 'search' in request.path %}
    <script>
      var doc = document.getElementById('link5');
      doc.classList.add('active')
    </script>
    {% else %}
    <script>
      var doc = document.getElementById('link1');
      doc.classList.add('active')
    </script>
    {% endif %}
  </nav>


{% endblock %}

{% block items %}
  
{% endblock %}